.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab-header > h3 {
  font-size: 24px;
    font-weight: 600;
    color: #545454;
}
.display-name-desktop {
  font-size: 20px;
  font-weight: 300;
  color: #545454;
}
.action-center {
  display: flex;
  position: relative;
  width: 25%;
  align-items: center;
  gap: 8px;
}
.avatar-button {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .display-name-desktop {
    display: none;
  }
  .action-center{
    justify-content: center;
  }
}
